/* custom styles for photo */
.about-photo-inner {
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-photo-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}